---
import type { Categories } from "@/types"

interface Props {
	description: string
	label: Categories
	showRedirect?: boolean
	title: string
	url: string
}

const { description, label, showRedirect, title, url } = Astro.props

enum CategoryIcons {
	Code = "i-mingcute-code-line",
	Design = "i-mingcute-paint-brush-line",
	Life = "i-mingcute-gift-line",
}
---
<a href={url} target={showRedirect ? "_blank" : "_self"}>
	<div class="flex flex-col gap-1 overflow-hidden border border-decoration rounded-xl p-3 shadow-sm transition-colors transition-shadow hover:border-primary hover:shadow-lg">
		<span class="flex items-center gap-1 xat-typo text-sm text-primary">
			<span class=`${CategoryIcons[label]}`></span>
			{label}
		</span>
		<h4 class="xat-typo">
			{title}
		</h4>
		<p class="text-sm text-mute tablet:text-truncate">
			{description}
		</p>
	</div>
</a>
